.top-header {
    width: 100%;
    height: 50px;
    background-color: darkgray;
    position: fixed;
}

.footer {
    width: 100%;
    /* height: 50px; */
    padding: 1.5rem;
    background-color: darkgray;
    position: fixed;
    bottom: 0;
    left: 0;
}

.main__card {
    margin-left: 20% !important;
    margin-top: 20% !important;
}

@media screen and (max-width: 380px) {
    .main__card {
        margin-left: 5% !important;
    }
}

.persons-table {
    margin-right: 15% !important;
    margin-top: 20% !important;
}