<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link async rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@${props.versions.sui}/dist/semantic.min.css" />

    <title>OffShore Project</title>
    
  </head>
  <body>
    <div id="app">
       
    </div>
    {%load static%}
    <script src="{% static "frontend/main.js" %}"></script>
    <script async src="//cdn.jsdelivr.net/npm/semantic-ui@${props.versions.sui}/dist/semantic.min.js"></script>

  </body>
 
</html>
